:root {
    --primary-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;
    --primary-text-color: #2E2F42;
    --accent-color: #404BBF;
    --button-color: #4D5AE5;
    --text-color: #434455;
    --text-white-color: #FFFFFF;
    --primary-background-color: #FFFFFF;
    --secondary-background-color: #F4F4FD;
    --dark-background-color: #2E2F42;
    --footer-text-accent: rgba(255, 255, 255, 0.6);
}
body{
    font-family: "Roboto", sans-serif;
    
}
button{
    cursor: pointer;
    font-family: "Roboto",sans-serif;
    font-style: normal;
}
/*commom styles start*/
.link{
    text-decoration: none;
}
.list{
    list-style: none;
}
/*common styles end*/ 

/*header styles*/
.header{
    background-color: var(--primary-background-color);
}
.header-link{
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}
.header-link:hover,
.header-link:focus{
    color:var(--accent-color);
}

.header-contact{
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.header-contact:hover,
.header-contact:focus{
    color: var(--accent-color);
}
.logo{
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height:1.16;
    letter-spacing: 0.03em;
    color: var(--button-color));
}
.logo2{
        font-family: var(--secondary-font);
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.16;
        letter-spacing: 0.03em;
        color:#000;
}
.logo3{
        font-family: var(--secondary-font);
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.16;
        letter-spacing: 0.03em;
        color: var(--text-white-color);

}
/*head styles*/
 .head{
background-color: var(--dark-background-color);
 }
 .title{
        font-family: var(--primary-font);
        font-style: normal;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: var(--text-white-color);
 }
 .button{
        background-color: var(--button-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        font-family: var(--primary-font);
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height:1.5;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.04em;
        color: var(--text-white-color);
 }
 .button:hover,
 .button:active{
background: var(--accent-color);
 }

 /* features styles*/

 .features-title{
        font-family: var(--primary-font);
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
 }
 .features-pharmacy{
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
 }

 /*employment styles*/

 .employment-title{
        font-family: var(--primary-font);
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height:1.11;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
 }

 /*team styles*/

 .team-title{
        font-family: var(--primary-font);
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
 }
 .team-pharmacy{
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
 }

 /*footer styles*/

 .footer{
    background-color: var(--dark-background-color);
 }
 
 .footer-prgph{
font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height:  1.5em;
    color: var(--secondary-background-color);
 }

 /* portfolio styles */
.portfolio-button{
        font-family: var(--primary-font);
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.04em;
        color: var(--button-color);
}
.portfolio-button:hover{
color: var(--text-white-color);
background: var(--accent-color);
}
   .portfolio-title{
        font-family: var(--primary-font);
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);

   } 
   .portfolio-category{
        font-family: var(--primary-font);
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:var(--text-color);
   }